{
    "openapi": "3.1.0",
    "info": {
      "title": "symovos API",
      "description": "This document describes all API endpoints used for symovos AMRs. 'symovo coordinator' also uses this API. If you have any questions please contactthe support.",
      "version": "0.1.0"
    },
    "servers": [
      {
        "url": "https://demo.symovo.app/api/"
      }
    ],
    "paths": {
      "/v0/station": {
        "get": {
          "tags": [
            "Station"
          ],
          "summary": "Get list of Station objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_station_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/Station-Output"
                        },
                        {
                          "$ref": "#/components/schemas/BoxStation6x4"
                        },
                        {
                          "$ref": "#/components/schemas/BoxStation4x3"
                        },
                        {
                          "$ref": "#/components/schemas/WaitingStation"
                        },
                        {
                          "$ref": "#/components/schemas/ChargingStation"
                        },
                        {
                          "$ref": "#/components/schemas/MarkerStation"
                        },
                        {
                          "$ref": "#/components/schemas/CartStation"
                        },
                        {
                          "$ref": "#/components/schemas/BarMarkerStation"
                        },
                        {
                          "$ref": "#/components/schemas/BilateralBoxStation6x4"
                        },
                        {
                          "$ref": "#/components/schemas/ExchangeBoxStation6x4"
                        }
                      ]
                    },
                    "title": "Response Http Get V0 Station Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Station"
          ],
          "summary": "Create a new Station object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_station_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Station-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Station-Output"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation4x3"
                      },
                      {
                        "$ref": "#/components/schemas/WaitingStation"
                      },
                      {
                        "$ref": "#/components/schemas/ChargingStation"
                      },
                      {
                        "$ref": "#/components/schemas/MarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/CartStation"
                      },
                      {
                        "$ref": "#/components/schemas/BarMarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/BilateralBoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/ExchangeBoxStation6x4"
                      }
                    ],
                    "title": "Response Http Post V0 Station Post"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/station/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Station"
          ],
          "summary": "Wait for change of Station object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_station__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Station-Output"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation4x3"
                      },
                      {
                        "$ref": "#/components/schemas/WaitingStation"
                      },
                      {
                        "$ref": "#/components/schemas/ChargingStation"
                      },
                      {
                        "$ref": "#/components/schemas/MarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/CartStation"
                      },
                      {
                        "$ref": "#/components/schemas/BarMarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/BilateralBoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/ExchangeBoxStation6x4"
                      }
                    ],
                    "title": "Response Http Get Changes V0 Station  Id  Wait For Changes Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Station object with this ID does not exist"
            },
            "410": {
              "description": "Station object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/station/{id}": {
        "get": {
          "tags": [
            "Station"
          ],
          "summary": "Get a signle Station object by ID",
          "operationId": "http_get_single_v0_station__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Station-Output"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation4x3"
                      },
                      {
                        "$ref": "#/components/schemas/WaitingStation"
                      },
                      {
                        "$ref": "#/components/schemas/ChargingStation"
                      },
                      {
                        "$ref": "#/components/schemas/MarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/CartStation"
                      },
                      {
                        "$ref": "#/components/schemas/BarMarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/BilateralBoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/ExchangeBoxStation6x4"
                      }
                    ],
                    "title": "Response Http Get Single V0 Station  Id  Get"
                  }
                }
              }
            },
            "404": {
              "description": "Station Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Station"
          ],
          "summary": "Update a Station object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_station__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Station-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Station-Output"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/BoxStation4x3"
                      },
                      {
                        "$ref": "#/components/schemas/WaitingStation"
                      },
                      {
                        "$ref": "#/components/schemas/ChargingStation"
                      },
                      {
                        "$ref": "#/components/schemas/MarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/CartStation"
                      },
                      {
                        "$ref": "#/components/schemas/BarMarkerStation"
                      },
                      {
                        "$ref": "#/components/schemas/BilateralBoxStation6x4"
                      },
                      {
                        "$ref": "#/components/schemas/ExchangeBoxStation6x4"
                      }
                    ],
                    "title": "Response Http Put V0 Station  Id  Put"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Station"
          ],
          "summary": "Delete a Station object by it's ID",
          "operationId": "http_delete_v0_station__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/station/wait_for_changes": {
        "get": {
          "tags": [
            "Station"
          ],
          "summary": "Wait for a change at any Station object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_station_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/job": {
        "get": {
          "tags": [
            "Job"
          ],
          "summary": "Get list of Job objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_job_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Job-Output"
                    },
                    "title": "Response Http Get V0 Job Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Job"
          ],
          "summary": "Create a new Job object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_job_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Job-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/job/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Job"
          ],
          "summary": "Wait for change of Job object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_job__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Job-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Job object with this ID does not exist"
            },
            "410": {
              "description": "Job object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/job/{id}": {
        "get": {
          "tags": [
            "Job"
          ],
          "summary": "Get a signle Job object by ID",
          "operationId": "http_get_single_v0_job__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Job-Output"
                  }
                }
              }
            },
            "404": {
              "description": "Job Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Job"
          ],
          "summary": "Update a Job object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_job__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Job-Output"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Job"
          ],
          "summary": "Delete a Job object by it's ID",
          "operationId": "http_delete_v0_job__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/job/wait_for_changes": {
        "get": {
          "tags": [
            "Job"
          ],
          "summary": "Wait for a change at any Job object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_job_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/zone": {
        "get": {
          "tags": [
            "Zone"
          ],
          "summary": "Get list of Zone objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_zone_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Zone-Output"
                    },
                    "title": "Response Http Get V0 Zone Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Zone"
          ],
          "summary": "Create a new Zone object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_zone_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zone-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/zone/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Zone"
          ],
          "summary": "Wait for change of Zone object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_zone__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zone-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Zone object with this ID does not exist"
            },
            "410": {
              "description": "Zone object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/zone/{id}": {
        "get": {
          "tags": [
            "Zone"
          ],
          "summary": "Get a signle Zone object by ID",
          "operationId": "http_get_single_v0_zone__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zone-Output"
                  }
                }
              }
            },
            "404": {
              "description": "Zone Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Zone"
          ],
          "summary": "Update a Zone object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_zone__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zone-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Zone-Output"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Zone"
          ],
          "summary": "Delete a Zone object by it's ID",
          "operationId": "http_delete_v0_zone__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/zone/wait_for_changes": {
        "get": {
          "tags": [
            "Zone"
          ],
          "summary": "Wait for a change at any Zone object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_zone_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/landmark": {
        "get": {
          "tags": [
            "Landmark"
          ],
          "summary": "Get list of Landmark objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_landmark_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Landmark-Output"
                    },
                    "title": "Response Http Get V0 Landmark Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Landmark"
          ],
          "summary": "Create a new Landmark object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_landmark_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landmark-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Landmark-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/landmark/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Landmark"
          ],
          "summary": "Wait for change of Landmark object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_landmark__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Landmark-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Landmark object with this ID does not exist"
            },
            "410": {
              "description": "Landmark object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/landmark/{id}": {
        "get": {
          "tags": [
            "Landmark"
          ],
          "summary": "Get a signle Landmark object by ID",
          "operationId": "http_get_single_v0_landmark__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Landmark-Output"
                  }
                }
              }
            },
            "404": {
              "description": "Landmark Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Landmark"
          ],
          "summary": "Update a Landmark object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_landmark__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landmark-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Landmark-Output"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Landmark"
          ],
          "summary": "Delete a Landmark object by it's ID",
          "operationId": "http_delete_v0_landmark__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/landmark/wait_for_changes": {
        "get": {
          "tags": [
            "Landmark"
          ],
          "summary": "Wait for a change at any Landmark object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_landmark_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr": {
        "post": {
          "tags": [
            "AGV"
          ],
          "summary": "Create a new AGV object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_amr_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AGV-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AGV-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Get list of AGV objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_amr_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AGV-Output"
                    },
                    "title": "Response Http Get V0 Amr Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr/{amr_id}": {
        "delete": {
          "tags": [
            "Fleet"
          ],
          "summary": "Remove an AMR from the fleet.",
          "operationId": "delete_amr_v0_amr__amr_id__delete",
          "parameters": [
            {
              "name": "amr_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Amr Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Wait for change of AGV object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_amr__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AGV-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "AGV object with this ID does not exist"
            },
            "410": {
              "description": "AGV object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Get a signle AGV object by ID",
          "operationId": "http_get_single_v0_amr__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AGV-Output"
                  }
                }
              }
            },
            "404": {
              "description": "AGV Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Update a AGV object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_amr__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AGV-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AGV-Output"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "AGV"
          ],
          "summary": "Delete a AGV object by it's ID",
          "operationId": "http_delete_v0_amr__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr/wait_for_changes": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Wait for a change at any AGV object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_amr_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/pose": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Pose",
          "description": "Return the current pose for the AMR with the given ID.",
          "operationId": "agv_pose_v0_amr__id__pose_get",
          "responses": {
            "200": {
              "description": "The current pose is returned.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Pose-Output"
                  }
                }
              }
            },
            "404": {
              "description": "AMR with given ID does not exist."
            },
            "503": {
              "description": "AMR is not ready to answer this request. Try again."
            }
          }
        },
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Set Agv Pose",
          "description": "Set the current pose for the AMR with the given ID. Only one of the arguments *station_id* or *pose* must be set. If both are provided, only *station_id* will be used.",
          "operationId": "set_agv_pose_v0_amr__id__pose_put",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetPoseRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "202": {
              "description": "The pose of the AMR was updated.",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "400": {
              "description": "The request body is not valid. *station_id* or *pose* must be set."
            },
            "404": {
              "description": "AMR with given ID does not exist."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            },
            "503": {
              "description": "AMR is not ready to answer this request. Try again."
            }
          }
        }
      },
      "/v0/amr/{id}/scan.png": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Scan",
          "description": "Return the current laser scan for the AMR with the given ID. The scan is returned as png.",
          "operationId": "agv_scan_v0_amr__id__scan_png_get",
          "responses": {
            "200": {
              "description": "The image with the current scan is returned.",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "AMR with given ID does not exist."
            },
            "503": {
              "description": "AMR is not ready to answer this request. Try again."
            }
          }
        }
      },
      "/v0/amr/{id}/slam/pose/station": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Slam Station Pose",
          "operationId": "agv_slam_station_pose_v0_amr__id__slam_pose_station_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/slam/state": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Slam State",
          "operationId": "agv_slam_state_v0_amr__id__slam_state_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/slam/pose/reflector": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Reflector Poses",
          "operationId": "agv_reflector_poses_v0_amr__id__slam_pose_reflector_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/path_planned": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Path Planned",
          "operationId": "agv_path_planned_v0_amr__id__path_planned_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/slam/start": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Start Slam",
          "operationId": "agv_start_slam_v0_amr__id__slam_start_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/slam/stop": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Stop Slam",
          "operationId": "agv_stop_slam_v0_amr__id__slam_stop_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/error_list": {
        "get": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Error List",
          "operationId": "agv_error_list_v0_amr__id__error_list_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/error/clear_imu_odom": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Error Clear Imu Odom",
          "operationId": "agv_error_clear_imu_odom_v0_amr__id__error_clear_imu_odom_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/software_fuse/reset": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Software Fuse Reset",
          "operationId": "agv_software_fuse_reset_v0_amr__id__software_fuse_reset_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/get_cost/transport": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Cost For Transport",
          "operationId": "agv_cost_for_transport_v0_amr__id__get_cost_transport_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/get_cost/station": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Cost For Station",
          "operationId": "agv_cost_for_station_v0_amr__id__get_cost_station_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/event/agv_foot_switch/press": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Event Press",
          "operationId": "agv_event_press_v0_amr__id__event_agv_foot_switch_press_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/move/speed": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Move Speed",
          "description": "Move the AMR. The request is blocking until the AMR has stopped moving.",
          "operationId": "agv_move_speed_v0_amr__id__move_speed_put",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveSpeed"
                }
              }
            },
            "required": true
          },
          "responses": {
            "202": {
              "description": "The AMR has finished moving.",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "AMR with given ID does not exist."
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            },
            "503": {
              "description": "AMR is not ready to answer this request. Try again."
            }
          }
        }
      },
      "/v0/amr/{id}/move/drive_mode": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Mode Drive Mode",
          "operationId": "agv_mode_drive_mode_v0_amr__id__move_drive_mode_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/backpack/lock": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Backpack Lock",
          "operationId": "agv_backpack_lock_v0_amr__id__backpack_lock_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/pause/start": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Pause Start",
          "operationId": "agv_pause_start_v0_amr__id__pause_start_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/pause/stop": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Pause Stop",
          "operationId": "agv_pause_stop_v0_amr__id__pause_stop_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/safety/reset_emergency_stop": {
        "put": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Safety Reset Estop",
          "operationId": "agv_safety_reset_estop_v0_amr__id__safety_reset_emergency_stop_put",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/amr/{id}/setup/factory_reset": {
        "post": {
          "tags": [
            "AGV"
          ],
          "summary": "Agv Factory Reset",
          "operationId": "agv_factory_reset_v0_amr__id__setup_factory_reset_post",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            }
          }
        }
      },
      "/v0/map": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Get list of Map objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_map_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Map-Output"
                    },
                    "title": "Response Http Get V0 Map Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Map"
          ],
          "summary": "Create a new Map object",
          "description": "Create a new object. Returns the created object with the given ID.",
          "operationId": "http_post_v0_map_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Map-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Wait for change of Map object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_map__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Map-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Map object with this ID does not exist"
            },
            "410": {
              "description": "Map object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/{id}": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Get a signle Map object by ID",
          "operationId": "http_get_single_v0_map__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Map-Output"
                  }
                }
              }
            },
            "404": {
              "description": "Map Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Map"
          ],
          "summary": "Update a Map object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_map__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Map-Output"
                  }
                }
              }
            },
            "400": {
              "description": "ID in URL and payload do not match"
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Map"
          ],
          "summary": "Delete a Map object by it's ID",
          "operationId": "http_delete_v0_map__id__delete",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "404": {
              "description": "Object with given ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/wait_for_changes": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Wait for a change at any Map object using http longpolling",
          "description": "Returns HTTP-Ok if any object of this type has been changed.",
          "operationId": "http_get_all_changes_v0_map_wait_for_changes_get",
          "parameters": [
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/{zoom}/{x}/{y}.png": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Get a Map tile as png",
          "description": "Get the map object base on it's id. Return a part of the map as a map tile.\nEach tile has a resolution of 256x256 px.\nA zoom of 0 will return the complete map resized to a 256x256 px image.",
          "operationId": "map_tile_v0_map__zoom___x___y__png_get",
          "parameters": [
            {
              "name": "zoom",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "title": "Zoom"
              }
            },
            {
              "name": "x",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "title": "X"
              }
            },
            {
              "name": "y",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "title": "Y"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "image/png": {}
              }
            },
            "304": {
              "description": "Not changed based on provided etag"
            },
            "404": {
              "description": "Map id unknown or coordinates out of bounds"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/slam/slam.png": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Slam Tile",
          "description": "While the robot is recording a new map, a map preview can be received using this endpoint.\nA full sized image will be returned.",
          "operationId": "slam_tile_v0_map_slam_slam_png_get",
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "image/png": {}
              }
            }
          }
        }
      },
      "/v0/map/{id}/full.png": {
        "get": {
          "tags": [
            "Map"
          ],
          "summary": "Full Tile",
          "description": "Get the map object base on it's id. Return the full map in one big image.",
          "operationId": "full_tile_v0_map__id__full_png_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "image/png": {}
              }
            },
            "304": {
              "description": "Not changed based on provided etag"
            },
            "404": {
              "description": "Map id unknown"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/map/{id}/upload": {
        "post": {
          "tags": [
            "Map"
          ],
          "summary": "Upload",
          "description": "Get the map object based on the request id. Load the png from the request body and update the image data.\nobject.",
          "operationId": "upload_v0_map__id__upload_post",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {}
                }
              }
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/transport": {
        "get": {
          "tags": [
            "Transport"
          ],
          "summary": "Get list of Transport objects",
          "description": "Get all objects from the database and return them as list",
          "operationId": "http_get_v0_transport_get",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 150,
                "title": "Limit"
              }
            },
            {
              "name": "if-none-match",
              "in": "header",
              "required": false,
              "schema": {
                "anyOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "If-None-Match"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Transport-Output"
                    },
                    "title": "Response Http Get V0 Transport Get"
                  }
                }
              }
            },
            "304": {
              "description": "No change for this etag"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Transport"
          ],
          "summary": "Create a new Transport object",
          "description": "Creates a new Transport. Created transports are automatically assigned to a suitable AMR based on matching needed_agv_attributes. If agv attribute is set during creation, only this AMR will execute the transport. The *steps* attribute contains all actions of this transport. *steps* is the only required attribute. For better readability it is recommended to add the *description* attribute.",
          "operationId": "http_post_v0_transport_post",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transport-Input"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transport-Output"
                  }
                }
              }
            },
            "400": {
              "description": "request contained an ID, but IDs are given by the backend"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/transport/{id}/wait_for_changes": {
        "get": {
          "tags": [
            "Transport"
          ],
          "summary": "Wait for change of Transport object referenced by ID using http longpolling",
          "description": "Wait until object with the given ID has changed. The changed obj is returned.\nIf timeout occurs None is returned.\nIf the object was deleted an empty dict is returned.",
          "operationId": "http_get_changes_v0_transport__id__wait_for_changes_get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            },
            {
              "name": "since",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "default": "now",
                "title": "Since"
              }
            },
            {
              "name": "timeout",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number",
                "title": "Timeout"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transport-Output"
                  }
                }
              }
            },
            "304": {
              "description": "No change until timeout"
            },
            "404": {
              "description": "Transport object with this ID does not exist"
            },
            "410": {
              "description": "Transport object was deleted while waiting for a change"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "/v0/transport/{id}": {
        "get": {
          "tags": [
            "Transport"
          ],
          "summary": "Get a signle Transport object by ID",
          "operationId": "http_get_single_v0_transport__id__get",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Transport-Output"
                  }
                }
              }
            },
            "404": {
              "description": "Transport Object with this ID does not exist"
            },
            "422": {
              "description": "Validation Error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HTTPValidationError"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Transport"
          ],
          "summary": "Update a Transport object by ID",
          "description": "Update an object based on its ID.",
          "operationId": "http_put_v0_transport__id__put",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "title": "Id"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transport-Input"
                }
              }
            }
          },
          "responses": {
            "202": {
              "description": "Successful Response",
[...]
